
h1 {
    font-size: 1.25em !important;
    margin-top: 0.5em !important;
}

.list {
    margin-top: 25px;
}

.item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 200px;
    height: 75px;
    overflow: hidden;
    text-align: center;
}
.item span {
    padding: 6px;
}

.item a {
    padding: 10px 0 0 0;
}
