
.list {
    margin-top: 25px;
}

.item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 200px;
    height: 75px;
    overflow: hidden;
    text-align: center;
}
.establishment-item {
    width: 200px;
    height: 200px;
}
.establishment-item div {
    padding: 7px 0;
}
.establishment-item div:nth-child(n+2) {
    border-top: 1px solid #eee;
}

