a.back {
    font-size: 1.25em;
}

h1 {
    font-size: 1.25em !important;
    margin-top: 1em !important;
}

.list {
    margin-top: 25px;
}

.item {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #eee;
    border-radius: 5px;
    width: 200px;
    height: 100px;
    overflow: hidden;
    text-align: center;
    font-size: 1.15em;
}
.item span {
    padding: 6px;
}

.item a {
    padding-top: 0.25em;
    display:inline-block;
}

.loading {
    font-size: 1.5em;
    text-align: center;
    margin-top: 2em;
}